{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method=POST action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Add Sentence</legend>
      {% set list_of_words = words_to_add.split('+') %}
      <div class="form-group">
        {% if words_to_add!="default" %}
          Please enter a sentence with the word {{words_to_add|replace("+", " or ")}} in it.
        {% else %}
          Please enter a sentence you would like to add.
        {% endif %}
        {% if form.sentence.errors %}
          {{ form.sentence(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.sentence.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.sentence(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-danger m-1") }}
    </div>
  </form>
</div>
{% endblock content%}
