{% extends "layout.html" %}
{% block content %}
{% if words %}
<div class="adding-spacing-worksheet-sections">
  <body>
  The words for this sheet's spellings are: <b> {{ words }} </b>
  </body>
{% endif %}
</div>
<div class="adding-spacing-worksheet-sections">
  <p>
    {% set words_with_spaces = sample_sentences[0]%}
      {% for line in words_with_spaces %}
      <body>
        <p>{{line}}</p>
      </body>
      {% endfor %}
  </p>
</div>
<div>
  <p>
    {% set sentences_with_blanks = sample_sentences[1]%}
      {% for sentence in sentences_with_blanks %}
      <body>
        <p>{{sentence}}</p>
      </body>
      {% endfor %}
  </p>
</div>
{% endblock content%}
